alabaster==0.7.12
astroid==2.12.9
Babel==2.10.3
certifi==2022.6.15.2
charset-normalizer==2.1.1
colorama==0.4.5
create-license==2.1.1
dill==0.3.5.1
docutils==0.19
idna==3.3
imagesize==1.4.1
isort==5.10.1
Jinja2==3.1.2
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.7.0
mypy==0.971
mypy-extensions==0.4.3
packaging==21.3
platformdirs==2.5.2
Pygments==2.13.0
tomlkit==0.11.4
typing-extensions==4.3.0
urllib3==1.26.12
wrapt==1.14.1